#imgDialog{
	position: fixed;
	z-index: 999999;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
	background-color: #191919;
}

#imgDialog .imgexif-title{
	height: 50px;
	position: relative;
}

#imgDialog .imgexif-title .imgexif-close{
	background: no-repeat url(btn_close.png);
	bottom: 17px;
	height: 16px;
	margin: auto;
	position: absolute;
	right: 340px;
	top: 17px;
	width: 16px;
	cursor:pointer;
}

#imgDialog .imgexif-content{

}

#imgDialog .imgexif-content .imgexif-image{
	position: absolute;
	top:50px;
	bottom:50px;
	text-align: center;
	left: 0px;
	right: 320px;
}

#imgDialog .imgexif-info{
	position: absolute;
	top:0px;
	bottom:0px;
	right: 0px;
	width: 320px;
	background-color: #f5f5f5;
	padding: 0px 5px 50px 5px;
}

#imgDialog .imgexif-info .exif-title{
	height: 50px;
	line-height: 50px;
}

#imgDialog .imgexif-info .exif-desc{
	font-size: 12px;
	width:100px;
	float: left;
}
#imgDialog .imgexif-info .exif-value{
	font-size: 12px;
	width:210px;
	float: right;
}